<h1>Listado de Casos</h1>


<h2> Listado de Casos </h2>

<table id="projects-list">
 <tr>
   <td>[Nombre Caso]</td>
   <td>[Nro. Novedades]</td>
 </tr>
 <tr>
   <td>Tu vs Vosotros</td>
   <td>2</td>
 </tr>
</table>
