<% if current_user.habilitado? %>
  <div>Bienvenido <strong><%= current_user.nombre %></strong> - Cliente.</div>
  <div> Podes ver tus novedades haciendo click en <%= link_to ' Casos', projects_path, class: "fa fa-book" %> </div>
  <div><br></div>
  <div>Identificado: <strong><%= current_user.email %></strong>.</div>
  <div><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %></div>

<% else %>
  <div>Su usuario ha sido deshabilitado, por favor comuniquese con el Dr. Cosme Fulanito (mail@mail.com)</div>
<% end %>
