<% if current_user.habilitado? %>
  <div> Tenes la cuota al dia, podes ver tus novedades </div>
<% else %>
  <div>Su usuario ha sido deshabilitado, por favor comuniquese con el Dr. Cosme Fulanito (mail@mail.com)</div>
<% end %>
