<h1>Acerca de Novedades</h1>

<p>Novedades es una aplicación web de código abierto, para informar a los clientes sobre las novedades que hay en sus proyectoss. Podrá ser incrustada en sitios web mediante un iFrame</p>

<p>Diseño de pantallas por Simón Y. Ibalo.
 <a href="https://twitter.com/simon8x" class="twitter-follow-button" data-show-count="true" data-lang="en" data-size="large">Follow @Simon8x</a>
 <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</p>

<p>Será desarrollado siguiendo las téncias de BDD (Desarrollo dirigido por comportamiento).
<p>Para las Historias de Usuario se ulizaró: PivotalTracker
<p>Para seguir BDD, se utilizaró: Cucumber y Capybara.
<br>
</br>
<p> En escencia es un experimento de aplicación y practica de los conceptos de BDD y TDD utilizando el lenguaje de programción Ruby y el framework Ruby on Rails.
<p>Toda contribución, consejo, critica constructiva, consultas son bienvenidas.
<br>
<p>Código fuente disponible en <a href="https://github.com/matiasmasca/novedades">GitHub</a>
<br>
<p>Potenciado por
<div>
<%= link_to image_tag('http://rubyonrails.org/images/rails.png', height: 150, width: 118), "http://rubyonrails.org", target: '_blank' %>
<%= link_to image_tag('https://dashboard.heroku.com/images/static/apple-touch-icon-120x120.png', height: 150, width: 118), "https://www.heroku.com", target: '_blank' %>
<%= link_to image_tag('https://github.com/apple-touch-icon-144.png', height: 150, width: 118), "https://github.com/", target: '_blank' %>
<%= link_to image_tag('http://getbootstrap.com/apple-touch-icon.png', height: 150, width: 118), "http://getbootstrap.com/", target: '_blank' %>
</div>
