<h1>Acerca de Novedades</h1>
<p>Novedades es una aplicación web de código abierto, para informar a los clientes sobre las novedades que hay en sus casos.</p>

<p>Será desarrollado siguiendo las téncias de BDD (Desarrollo dirigido por comportamiento).
<p>Para las Historias de Usuario se ulizaró: PivotalTracker
<p>Para seguir BDD, se utilizaró: Cucumber y Capybara.
<br>
</br>
<p> En escencia es un experimento de aplicación y practica de los conceptos de BDD y TDD utilizando el lenguaje de programción Ruby y el framework Ruby on Rails.
<p>Algunos de los archivos no siguen exactamente las buenas practicas, en algunos casos por desconocimiento y en otros como parte del experimento. Toda contribución, consejo, critica constructiva, consultas son bienvenidas.
<br>
<p>Código fuente disponible en <a href="https://github.com/matiasmasca/novedades">GitHub</a>
<br>
<p>Potenciado por
<div>
<%= link_to image_tag('rails.png', height: 150, width: 118), "http://rubyonrails.org", target: '_blank' %>
<%= link_to image_tag('heroku.png', height: 150, width: 118), "https://www.heroku.com", target: '_blank' %>
<%= link_to image_tag('octocat.png', height: 150, width: 118), "https://github.com/", target: '_blank' %>
<%= link_to image_tag('bootstrap.png', height: 150, width: 118), "http://getbootstrap.com/", target: '_blank' %>
</div>
