<h1>Bienvenido a Notificaciones Terciar</h1>
<h2> Zona Clientes </h2>

<!--/Login -->
<% unless user_signed_in? %>
  <%= render partial: "devise/sessions/new"  %>
<% end %>
<!--/login -->

<!--/Bienvenida -->
<% if user_signed_in? %>
  <%= render partial: "bienvenida"  %>
<% end %>
<!--/bienvenida -->
