<h1>Editando Proyecto</h1>

<%= render 'form' %>
<br>
<div class="form-group">
  <%= link_to 'Ver Proyecto', @project, title:"Ver datos basicos del Proyecto", class: "btn btn-default" %> |
  <%= link_to 'Volver', :back, class: "btn btn-default" %>
</div>
