<h1>Editando Caso</h1>

<%= render 'form' %>
<br>
<div class="form-group">
  <%= link_to 'Ver caso', @project, title:"Ver datos basicos del caso", class: "btn btn-default" %> |
  <%= link_to 'Volver', :back, class: "btn btn-default" %>
</div>
