<p>Hola <%= @resource.email %>!</p>

<p>Alguien solicito cambiar su clave de acceso. Usted puede hacerlo a travéz del enlace que esta abajo.</p>

<p><%= link_to 'Cambiar mi clave', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si usted no lo solicito, ignore este mensaje.</p>
<p>Su clave no cambiará hasta que acceda al enlace de arriba y cree una nueva clave.</p>
