<p>Hola <%= @resource.email %>!</p>

<p>Tu cuenta ha sido bloqueada por un excesivo numero de intentos de iniciar sesión incorrectos.</p>

<p>Haga click en el enlace de abajo para desbloquear su cuenta:
<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
