<!-- add navigation links to this file -->
<li class="active"><%= link_to 'Inicio',  root_path, class: "active" %></li>
<% if user_signed_in? %>
  <%= render 'layouts/navigation_admin' if current_user.tipo == 1 %>
  <li><%= link_to ' Casos', projects_path, class: "fa fa-archive" if current_user.tipo == 2 %></li>
  <li role="separator" class="divider"></li>
  <li role="separator" class="divider"></li>
<% end %>
<li role="separator" class="divider"></li>
